* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);

}
img{
    width:100% ;
}


.btn {
    background-color: #872BFF;
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    border: 2px solid;
}

.btn-white {
    /* background-color: white; */
    border-radius: 30px;
    padding: 16px 32px;
    /* color: black; */
    border: 2px solid #872BFF;
    cursor: pointer;
    margin-right: 20px;

}

#service-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.service-card {
    background-color: white;
    height: 450px;
    width: 350px;
    padding: 100px 60px;
    text-align: center;
    border-radius: 30px;
}


.service-card img {
    margin-bottom: 40px;
    width: 80px;
}

.service-card h2 {
    font-size: 28px;
    font-weight: semibold;
    margin-bottom: 30px;
}

.service-card p {
    font-size: 18px;
    font-weight: medium;
    color: #a8a8a8;
}

.heading-content {
    text-align: center;
    margin-bottom: 60px;
}

.heading-content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #F411CF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.heading-content h2 {
    font-weight: bold;
    font-size: 44px;
}

#banner {

    /* margin-top: 100px;
            margin-bottom: 120px;
            margin-left: auto;
            margin-right: auto; */
    background-color: white;
    margin: 100px auto 120px auto;
    width: 87.5%;
    border-radius: 40px;
    border: 2px solid #872BFF10;
    padding: 20px 30px;
    background-image: url(../images/hero-bg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;

}

.banner-content * {
    margin-bottom: 36px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

.banner-content h1 span {
    color: #F411CF;
}

.banner-content p {
    font-size: 18px;
    font-weight: medium;
    color: #a8a8a8;
}

.banner-image {
    width: 50%;
}

#service,
#story,
#country,#review,#footer {
    width: 87.5%;
    margin: 0px auto 120px auto;
}

#story-cards-container {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.story-cards-content h2,img, p {
    margin-bottom: 30px;
    
}
.story-cards-content{
    width: 60%;
}
.story-cards-content img{
    height: 60px;
    width: 80px;
}


.story-image {
    border-radius: 24px;
    width: 40%;
    height: 340px;

}
.country-names {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}
.country-names h1{
    background-color: white;
    padding: 40px;
    text-transform: uppercase;
    
    
    border-radius: 16px;
}
.btn-tag{
    display: flex;
    justify-content: center;
}
.review-section-1{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 60px;
}
.review-section-2{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}
.review-details-1 {
    text-align: center;
}
.review-1{
    margin-bottom: 50px;
}
.name-1{
    gap: 4px;
}
#footer{
    display: flex;
    justify-content: space-between;
    
}
.social-id {
    /* background-color: #F411CF; */
    /* height:51px;
    width: 182px; */
    gap: 32px;
    display: flex;
}